<ion-view>
    <ion-header-bar class="bar-stable">
      <img src="/img/Logo.svg">
    <div class="buttons">
        <button class="button button-clear" ui-sref="outsidelogin"><b><h3>Accedi/Registrati</b></h3></button>
    </div>
  </ion-header-bar>
  <link href="../../css/outside.home.css" rel="stylesheet">
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">

      <br>
      <br>
      <br>
      <h1 style="text-align:center; color:black;">CHIMICA</h1>
      <h3 style="color:black; text-align:center;">La chimica è, tra le scienze naturali, quella che interpreta e razionalizza la struttura, le proprietà
        e le trasformazioni della materia. Il corso di laurea ha l’obiettivo di formare un laureato
        - che abbia abilità e conoscenze chimiche di base;
        - che sia pronto ad inserirsi in attività lavorative che richiedono familiarità col metodo scientifico;
        - che sia capace di applicare metodologie e tecniche innovative;
        - che sappia utilizzare attrezzature complesse e sia in grado di lavorare in gruppi interdisciplinari.
        Gli studenti possono confrontarsi con un corpo docente con cui è facile stabilire un frequente e
        proficuo rapporto diretto. La Chimica è una scienza sperimentale che si apprende soprattutto
        in laboratorio ed è quindi obbligatoria la frequenza di tali attività.</h3>

  </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>