<ion-view>
    <ion-header-bar class="bar-stable">
       <img src="/img/Logo.svg">
      <div class="buttons">
       <button class="button button-clear" ui-sref="outsidelogin"><b><h3>Accedi/Registrati</b></h3></button>
      </div>
    </ion-header-bar>
        <link href="../../css/outside.home.css" rel="stylesheet">
    <ion-content style="background-image: url(../img/sfondohome.jpg); background-repeat:no-repeat; background-size: cover;" style="background-image: url(../img/sfondohome.jpg); background-repeat:no-repeat; background-size: cover;">
    
    <div class="facolta">

      <button class="button button-stable1"  ui-sref="outsideinformatica"><center><b><h3>Informatica</b></h3></center></button>
      <button class="button button-stable3"  ui-sref="outsidefisica"><center><b><h3>Fisica</b></h3></center></button>               
      <button class="button button-stable2"  ui-sref="outsidechimica"><center><b><h3>Chimica</b></h3></center></button>
    </div>
        


    
  </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>