<ion-view>
    <ion-header-bar class="bar-stable">
        <img src="/img/Logo.svg">
      <div class="buttons">
          <button class="button button-clear" ui-sref="outsidehome"><b><h3>Home</b></h3></button>
      </div>
      </ion-header-bar>
      <link href="../../css/outside.home.css" rel="stylesheet">
      <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
  
  <div class="list">
      <br>
      <br>
      <br>
      <br>
      <b><h4>Username</h4></b>
    <label class="item item-input">
      <input type="text" placeholder="Username" ng-model="user.username">
    </label>
    <br><br>
    <b><h4>Password</h4></b>
    <label class="item item-input">
      <input type="password" placeholder="Password" ng-model="user.password">
    </label>
  </div>
  <br>
  <button class="button button-dark" ng-click="login()">
    Login
  </button>
 <center><button class="button button-dark" style="top:10px" ui-sref="outsideregister">Nuovo utente</button>
  <button class="button button-dark" style="top:10px" ui-sref="outsideregisterstudent">Nuovo studente</button></center> 
</ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>