<ion-view>
        <ion-header-bar class="bar-stable">
            <link href="../css/carrierastudent.css" rel="stylesheet">
            <img src="/img/Logo.svg">
            <div class="buttons">
            <button class="button button-clear" ui-sref="student"><b><h3>Menu</b></h3></button> 
            </div>
  </ion-header-bar>
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">
            
            <br>
            <br>
            <div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
                <div id="testo"><h3>Appelli disponibili:</h3></div>
                    <div id="input">    
                        <!--<input style="background-color:#696977;" type="text" ng-model="query" placeholder="stai cercando..."/>-->
                </div>
            </div> 

            <div class="table-responsive"><!-- div contenitore della tabella -->
                <table class="table table-bordered table-hover table-striped "><!-- coppia di tag che definisce la tabella -->
                    <thead><!-- sezione delle intestazioni -->
                        <tr><!-- riga delle intestazioni -->
                            <th>Esame</th><!-- cella di intestazione (seguono le altre 3) -->
                            <th>Data</th>
                          
                        </tr>
                    </thead>
                    <tbody><!-- corpo della tabella -->
                        <tr ng-repeat="elenco in elenco|filter:query"><!-- prima riga della tabella (seguono le altre) -->
                            <td>{{elenco.esame}}</td><!-- prima cella della prima riga (seguono le altre) -->
                            <td>{{elenco.data}} Ora:{{elenco.ora}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th> Scegli la prenotazione da cancellare </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="appello.id" >
                                    <option  ng-repeat="elenco in elenco| filter:query" value="{{elenco.appello_id}}">{{elenco.esame}} {{elenco.data}} {{elenco.ora}}</option>
                                    <option selected value="">Seleziona...</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>       

            
            <br>
        <button class="button button-dark" ng-click="deleteIscrizione(appello)">Conferma Cancellazione    </button>

      
    </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>