<ion-view>
        <ion-header-bar class="bar-stable">
            <link href="../css/carrierastudent.css" rel="stylesheet">
            <img src="/img/Logo.svg">
            <div class="buttons">
            <button class="button button-clear" ui-sref="prof"><b><h3>Menu</b></h3></button> 
            </div>
  </ion-header-bar>
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">

            <br>
            <br>
            <div id="ricerca" style="width:100%;height:100px;padding-left:10px;">
                <div id="testo"><h3>Appelli disponibili:</h3></div>
                    <div id="input">    
                        <!--<input style="background-color:#696977;" type="text" ng-model="query" placeholder="stai cercando..."/>-->
                </div>
            </div> 

            <div class="table-responsive"><!-- div contenitore della tabella -->
                <table class="table table-bordered table-hover table-striped "><!-- coppia di tag che definisce la tabella -->
                    <thead><!-- sezione delle intestazioni -->
                        <tr><!-- riga delle intestazioni -->
                            <th>Data</th><!-- cella di intestazione (seguono le altre 3) -->
                            <th>Aperto</th>
                            <th>Iscritti</th>
                        </tr>
                    </thead>
                    <tbody><!-- corpo della tabella -->
                        <tr ng-repeat="doc in doc|filter:doc.aperto!=false| filter:query"><!-- prima riga della tabella (seguono le altre) -->
                            <td>{{doc.data}} <h7>Ora:</h7> {{doc.ora}}</td><!-- prima cella della prima riga (seguono le altre) -->
                            <td>{{doc.aperto}}</td>
                            <td>{{doc.number_iscritti}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        
                        <tr>
                            <th> Scegli l'appello che vuoi chiudere</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select ng-model="appello.id" >
                                    <option  ng-repeat="doc in doc| filter:query" value="{{doc._id}}">{{doc.data}} <h7>Ora:</h7> {{doc.ora}}</option>
                                    <option selected value="">Seleziona...</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>        

            
            <br>
        
        <button class="button button-dark" ng-click="chiudiAppello(appello)">        Conferma    </button>

   
    </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
    </ion-view>