<ion-view>
        <ion-header-bar class="bar-stable">
            <link href="../css/carrierastudent.css" rel="stylesheet">
            <img src="/img/Logo.svg">
            <div class="buttons">
            <button class="button button-clear" ui-sref="student"><b><h3>Menu</b></h3></button> 
            </div>
  </ion-header-bar>
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">

    <br>
    <br>
    <h3>Carriera: </h3>
        <label class="item item-input">
            gemometria:
            <ul>
                <li>voto:{{carriera.msg.gemometria.voto}}</li>
                <li>data:{{carriera.msg.gemometria.data}}</li>
                <li>cfu:{{carriera.msg.gemometria.cfu}}</li>
                <li>anno:{{carriera.msg.gemometria.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            analisi: <ul>
                <li>voto:{{carriera.msg.analisi.voto}}</li>
                <li>data:{{carriera.msg.analisi.data}}</li>
                <li>cfu:{{carriera.msg.analisi.cfu}}</li>
                <li>anno:{{carriera.msg.analisi.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            logica:  <ul>
                <li>voto:{{carriera.msg.logica.voto}}</li>
                <li>data:{{carriera.msg.logica.data}}</li>
                <li>cfu:{{carriera.msg.logica.cfu}}</li>
                <li>anno:{{carriera.msg.logica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            fisica: <ul>
                <li>voto:{{carriera.msg.fisica.voto}}</li>
                <li>data:{{carriera.msg.fisica.data}}</li>
                <li>cfu:{{carriera.msg.fisica.cfu}}</li>
                <li>anno:{{carriera.msg.fisica.anno}}</li>
            </ul>
        </label>
        <label class="item item-input">
            elettromagnetismo:  <ul>
                <li>voto:{{carriera.msg.elettromagnetismo.voto}}</li>
                <li>data:{{carriera.msg.elettromagnetismo.data}}</li>
                <li>cfu:{{carriera.msg.elettromagnetismo.cfu}}</li>
                <li>anno:{{carriera.msg.elettromagnetismo.anno}}</li>
            </ul>
        </label>

    

    </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>