<ion-view>
    <ion-header-bar class="bar-stable">
        <link href="../css/carrierastudent.css" rel="stylesheet">
        <img src="/img/Logo.svg">
    <div class="buttons">
      <button class="button button-clear" ng-click="logout()"><b><h3>Logout</b></h3></button> 
    </div>
  </ion-header-bar>
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">

    <br>
    <br>
        <label class="item item-input">
            Email: {{currentaccount.email}}
        </label>
        <label class="item item-input">
            Firstname: {{currentaccount.firstname}}
        </label>
        <label class="item item-input">
            Lastname: {{currentaccount.lastname}}
        </label>
        <label class="item item-input">
            Data di nascita: {{currentaccount.bod}}
        </label>
        <label class="item item-input">
            Gender: {{currentaccount.gender}}
        </label>
         <button class="button button-full button-dark" ng-click="showHome()">
            Return to home
        </button>

    </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>