<ion-view>
    <ion-header-bar class="bar-stable">
        <link href="../css/carrierastudent.css" rel="stylesheet">
        <img src="/img/Logo.svg">
        <div class="buttons">
        <button class="button button-clear" ui-sref="admin"><b><h3>Menu</b></h3></button> 
        </div>
</ion-header-bar>
<ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" class="padding">

        <br>
        <br>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text"  ng-model="user.username">
    </label>
    <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
    </label>
   <h3>Profile</h3>
   <label class="item item-input">
        <span class="input-label">email</span>
        <input type="email"  ng-model="user.email">
    </label>
    <label class="item item-input">
        <span class="input-label">Nome</span>
        <input type="text"  ng-model="user.firstname">
    </label>
    <label class="item item-input">
        <span class="input-label">Cognome</span>
        <input type="text"  ng-model="user.lastname">
    </label>
    <label class="item item-input">
        <span class="input-label">Data di nascita</span>
        <input type="date"  ng-model="user.bod">
    </label>
    <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Sesso
      </div>
	
      <select ng-model="user.gender" >
         <option value="maschio">Maschio</option>
         <option value="femmina" >Femmina</option>
         <option selected value="">Seleziona...</option>

      </select>
    </label>
    <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Corso
      </div>
      <select ng-model="user.corso" >
         <option value="informatica">Informatica</option>
         <option value="fisica" >Fisica</option>
         <option value="chimica">Chimica</option>
         <option selected value="">Seleziona...</option>
      </select>	
   </label>
   <label class = "item item-input item-select item-light">
      <div class = "input-label">
         Insegnamento
      </div>
      <select ng-model="user.insegnamenti" >

         <option value="analisi">Analisi</option>
         <option value="programmazione">Programmazione</option>
         <option value="logica">Logica</option>
         <option value="algoritmi">Algoritmi</option>
         <option value="sistemi_operativi">Sistemi Operativi</option>
         <option value="biochimica">Biochimica</option>
         <option value="inglese">Inglese</option>
         <option value="computer_science">Computer science</option>
         <option value="geometria">Geometria</option>
         <option value="fisica">Fisica</option>
         <option value="elettromagnetismo">Elettromagnetismo</option>
         <option selected value="">Seleziona...</option>

      </select>	
   </label>

    <label class="item item-input">
        <span class="input-label">Cellulare</span>
        <input type="tel" ng-model="user.cell">
    </label>
      
    </div>
    <button class="button button-dark" ng-click="addProf()">
      Registra
    </button>
    
  </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>