<ion-view>
    <ion-header-bar class="bar-stable">
      <img src="/img/Logo.svg">
    <div class="buttons">
        <button class="button button-clear" ng-click="logout()"><b><h3>Logout</b></h3></button>
    </div>
  </ion-header-bar>
  <link href="../../css/inside.home.css" rel="stylesheet">
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
      
    <br>
    <br>
    <br>
      <h1 style="text-align:center; color:black;"> INFORMATICA</h1>
      <h3 style="color:black; text-align:center;">Non vi è settore della società dove non vi sia il contributo dell’informatica. Nei servizi, nell’industria,
          nel commercio e nelle nostre case siamo circondati da dispositivi, la maggior parte dei quali controllati
          da software sviluppati da professionisti delle metodologie e tecnologie informatiche. Nei servizi commerciali,
          finanziari, pubblicitari, di gestione così come nei settori critici, come i trasporti, la sanità, la
          sicurezza, ci affidiamo a software che gestiscono il nostro denaro, i nostri rapporti con gli altri fino alla
          nostra stessa vita. Per progettare come per produrre programmi efficienti ed affidabili, bisogna possedere
          conoscenze e competenze specifiche che FAMD University offre con un corso di laurea in Informatica e una
          laurea magistrale in Computer Science.</h3>

  </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>