<ion-view>
    <ion-header-bar class="bar-stable">
      <img src="/img/Logo.svg">
    <div class="buttons">
        <button class="button button-clear" ng-click="logout()"><b><h3>Logout</b></h3></button>
    </div>
  </ion-header-bar>
  <link href="../../css/inside.home.css" rel="stylesheet">
  <ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;" style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
      
    <br>
    <br>
    <br>
    <h1 style="text-align:center; color:black;"> FISICA</h1>
    <h3 style="color:black; text-align:center;"> La fisica è una scienza fondamentale che ha, come principale obiettivo, la scoperta delle leggi alla
      base dei fenomeni naturali. Di fatto, il laboratorio di un fisico è l’intero universo, dagli ammassi
      di galassie ai costituenti elementari della materia.
      Caratteristico della fisica è il metodo d’indagine basato su un rapporto dialettico fra teoria ed
      esperimento. La capacità di muoversi tra queste due metodiche e l’abilità nel rappresentare la
      realtà attraverso modelli costituiscono gli aspetti peculiari della cultura di un fisico. Sono queste
      competenze che permettono ad un fisico di risolvere problemi, anche in ambiti apparentemente
      distanti fra loro: ad esempio moltissimi fisici lavorano nel mondo degli affari attraverso lo sviluppo
      di modelli per l’economia e la finanza. I fisici, inoltre, contribuiscono alla comprensione di
      sistemi complessi come il clima e lo stesso cervello umano, forniscono nuove tecnologie e metodiche
      per la diagnosi e la cura di malattie come il cancro, mettono a punto materiali innovativi
      basati sulle nanotecnologie. Ed è grazie ai fisici del CERN che è nato il WEB, rivoluzionando il
      modo di comunicare e condividere informazioni.
      Oltre che preparare alla ricerca scientifica nell’università o negli enti di ricerca nazionali ed internazionali,
      lo studio della fisica fornisce una solida formazione scientifica di base, che può essere
      vantaggiosamente utilizzata nel mondo della produzione industriale e dei servizi.</h3>

  </ion-content style="background-image: url(../img/sfondofacolta.jpg); background-repeat:no-repeat; background-size: cover;">
</ion-view>